In [97]:
import pandas as pd
import matplotlib.pyplot as plt
import squarify

In [98]:

df1 = pd.read_excel(r'C:\Users\long2\Book1.xlsx', sheet_name='Sheet2')
df1.head()

,CustomerID,"First Name, Last Name",Address,Email,Phone
0,1001,John Smith,"123 Main St, Anytown",john@example.com,555-012-2345
1,1001,John Smith,"123 Main St, Anytown",john@example.com,555-012-2345
2,1003,David Brown,"789 Elm St, Anothercity",david@example.com,555-345-6789
3,1004,Sarah Miller,"321 Maple Ave, Elsewhere",sarah@example.com,555-456-7890
4,1005,Michael Davis,"987 Pine St, Somewhere",michael@example.com,555-567-8901

In [99]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerID             45 non-null     int64
 1   First Name, Last Name  45 non-null     object
 2   Address                45 non-null     object
 3   Email                  45 non-null     object
 4   Phone                  45 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.9+ KB

In [100]:
df1.isnull().sum()

CustomerID               0
First Name, Last Name    0
Address                  0
Email                    0
Phone                    0
dtype: int64

In [101]:
df1[df1.isnull().any(axis=1)]

Empty DataFrame
Columns: [CustomerID, First Name, Last Name, Address, Email, Phone]
Index: []

In [72]:
df1.category.unique()

AttributeError: 'DataFrame' object has no attribute 'category'

In [ ]:
# Replace NaN values in 'category' column with 'audio'
df1['category'] = df1['category'].fillna('Audio')
df1[df1.product_id=="E12353"]

In [74]:
df2 = pd.read_excel(r'C:\Users\long2\Book1.xlsx', sheet_name='Sheet3')
df2.head()

   SaleID  CustomerID  ProductID   SaleDate  Quantity  Revenue
0       1        1001       1043 2023-01-15         2      600
1       2        1002       1006 2023-03-05         1      300
2       3        1003       1017 2023-05-12         1      250
3       4        1004       1045 2023-06-08         1     1000
4       5        1005       1034 2023-07-14         2       40

In [105]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SaleID      50 non-null     int64
 1   CustomerID  50 non-null     int64
 2   ProductID   50 non-null     int64
 3   SaleDate    50 non-null     datetime64[ns]
 4   Quantity    50 non-null     int64
 5   Revenue     50 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 2.5 KB

In [ ]:
df2[df2.isna().any(axis=1)]

In [ ]:
df2.dropna(inplace=True)
df2.info()

In [109]:
df2.nunique()

SaleID        50
CustomerID    50
ProductID     49
SaleDate      46
Quantity       3
Revenue       20
dtype: int64

In [110]:
# Get duplicate rows based on 'transaction_id'
duplicates = df2[df2.duplicated('transaction_id', keep=False)]

duplicates

KeyError: Index(['transaction_id'], dtype='object')

In [ ]:
# Generate a new unique ID that doesn't exist in the 'transaction_id' column
new_id = df2['transaction_id'].max() + 1

# Replace the 'transaction_id' of the first duplicate with the new unique ID
df2.loc[duplicates.index[0], 'transaction_id'] = new_id

df2[df2.transaction_id == new_id]

KeyError: 'transaction_id'

In [ ]:
df2.info()

In [ ]:

# Convert 'transaction_id' column to int
df2['transaction_id'] = df2['transaction_id'].astype(int)
df2.head()

In [ ]:
# Get unique values in 'payment_method' column
unique_values = df2['payment_method'].unique()
unique_values

In [ ]:
# Replace 'money' with 'Cash' in 'payment_method' column
df2['payment_method'] = df2['payment_method'].replace('Money', 'Cash')

# Get unique values in 'payment_method' column
unique_values = df2['payment_method'].unique()

unique_values

In [108]:
merged_df = pd.merge(df1, df2, on='CustomerID'
)
merged_df.head()

,CustomerID,"First Name, Last Name",Address,Email,Phone,SaleID,ProductID,SaleDate,Quantity,Revenue
0,1001,John Smith,"123 Main St, Anytown",john@example.com,555-012-2345,1,1043,2023-01-15,2,600
1,1001,John Smith,"123 Main St, Anytown",john@example.com,555-012-2345,1,1043,2023-01-15,2,600
2,1003,David Brown,"789 Elm St, Anothercity",david@example.com,555-345-6789,3,1017,2023-05-12,1,250
3,1004,Sarah Miller,"321 Maple Ave, Elsewhere",sarah@example.com,555-456-7890,4,1045,2023-06-08,1,1000
4,1005,Michael Davis,"987 Pine St, Somewhere",michael@example.com,555-567-8901,5,1034,2023-07-14,2,40

In [106]:
merged_df.info()

NameError: name 'merged_df' is not defined

In [107]:
merged_df.nunique()

NameError: name 'merged_df' is not defined

In [ ]:
category_counts = merged_df['category'].value_counts()

# Create bar chart
category_counts.plot(kind='bar')
plt.title('Category Counts')
plt.xlabel('Category')
plt.ylabel('Count')# Show the plot
plt.show()

In [ ]:


# Group by 'category' and sum 'price'
category_sums = merged_df.groupby('category')['total'].sum()

# Plot the result
category_sums.plot(kind='pie', autopct='%1.1f%%')
plt.title('Revenue by Each Category')
plt.ylabel('')
plt.show()

In [ ]:

# Convert 'date' column to datetime if it's not already
merged_df['transaction time'] = pd.to_datetime(merged_df['transaction time'])

# Set 'date' as the index
merged_df.set_index('transaction time', inplace=True)

# Resample by month and count transactions
monthly_data = merged_df.resample('M').count()

# Plot the number of transactions per month
monthly_data['transaction_id'].plot(kind='line')

# Show the plot
plt.show()

In [ ]:


# Get counts of each brand
brand_counts = merged_df['brand'].value_counts()

# Create tree map
squarify.plot(sizes=brand_counts, label=brand_counts.index, alpha=0.7)


# Show the plot
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Select features and target
features = merged_df.drop(['total', 'category'], axis=1)
target = merged_df['total']

# Convert categorical data to numerical data
features = pd.get_dummies(features)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)
predictions
# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')
# Create a DataFrame with actual and predicted values
results = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})
print(results)